= render "carousel"
.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
    = link_to @category, class: "btn btn-default" do
      Get Started
  .mb-35
    %h3= "Best Sellers" if @best_sellers.any?
    .row
      - @best_sellers.each do |book|
        = render partial: "shared/book", locals: {book: book}
